footer{
    background-color: #5B3331;
    height: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

p{
    color: white;
}

#Logos{
    display: flex;
    justify-content: space-evenly;
    width: 35%;
}