<main>
    <img src="../../assets/imagens/slide5 1.png" alt="Bolo é a /Únic coisa que me deixar com a boca quieta" id="imagem">

    <h1>Mais Vendidas</h1>

    <div class="cards">
        <div>
            <img src="../../assets/imagens/cenoura 1.png" alt="Bolo de Ceroula">
            <p>Bolo de Cenoura</p>
        </div>
        <div>
            <img src="../../assets/imagens/fuba 1.png" alt="Bolo de Fubá">
            <p>Bolo de Fubá</p>
        </div>
        <div>
            <img src="../../assets/imagens/larnja 1.png" alt="Bolo do Carlos el topo que gira">
            <p>Bolo de Laranja</p>
        </div>
    </div>

    <h2>Aproveite</h2>

    <div class="Cards">
        <div class="card">
            <h3>Clube Assinatura</h3>
            <p>Se torne cliente fidelizado e receba divresas vantagens</p>
            <button>Saiba Mais</button>
        </div>
        <div class="card">
            <h3>Monte se bolo</h3>
            <p>Escolha os ingredientes e receba um bolo feito para você!</p>
            <button>Saiba Mais</button>
        </div>
    </div>

</main>